<!--- AI 화재 안전 모니터링 -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Links • A-Frame">
    <title>AI 화재 안전 모니터링</title>
    <!-- - 필수 -->
    <!-- <script src="../src/vendor/aframe-master.js"></script> -->
    <!--# a-frame -->
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <!-- - 필수는 아님 -->
    <script src="../../src/vendor/aframe-tooltip-component.js"></script>
    <script src="../../src/vendor/camera-position.js"></script>
    <script src="../../src/vendor/link-controls.js"></script>
    <!-- - 배경 -->
    <!-- <script src="https://unpkg.com/aframe-environment-component@1.3.2/dist/aframe-environment-component.min.js"></script> -->
    <!--# a-frame htmlembed -->
    <script src="https://supereggbert.github.io/aframe-htmlembed-component/dist/build.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../style/room1.css">
  </head>
  <body>

    <div class="contatiner">
      <a href="../../exhibition.html" class="back-btn"> Hall로 이동</a>
    </div>

    <a-scene far: 30; webxr="requiredFeatures: hit-test,local-floor; optionalFeatures: dom-overlay,unbounded; overlayElement: #overlay;"
    raycaster="far: 600; objects: [link];" cursor="rayOrigin: mouse">

    <!-- => 카메라 -->
    <a-entity id="cameraRig">
      <a-entity id="cameraEntity" camera look-controls wasd-controls="acceleration: 600; fly: false;" position="-0.2 1 5"></a-entity>
      <a-entity id="mouseCursor" cursor="rayOrigin: mouse" raycaster="objects: .screen;"></a-entity>
      <a-entity laser-controls raycaster="objects: .screen;"></a-entity>
    </a-entity>

    <!-- => assets -->
      <a-assets>
        <a-asset-item id="room" src="../../assets/model/white_round_exhibition_gallery/scene.gltf"></a-asset-item>
      </a-assets>

      <!-- => gltf -->
      <a-gltf-model id="roomGLTF" src="#room" scale="0.5 1 0.5" position="0 0 0" rotation="0 0 0"></a-gltf-model>

      <!-- => 맵 이동 -->
      <!-- <a-link href="../exhibition.html" position="-3.5 1.5 -1.0" image="#thumbIndex" title="exhibition hall"></a-link> -->

      <!-- => 조명 -->
      <a-entity light="type: point; color: #333; intensity: 5; distance: 0" position="0 2 0"></a-entity>

      <!-- => 링크 및 사진 보여주는 부분 -->
      <!-- => photo -->
      <a-entity id="menu videoMenu" class="screen main dark" htmlembed="ppu:256" position="-1 1 0" rotation="0 0 0">
        <h2>AI 화재 안전 모니터링 시스템</h2>
          <img src="../../assets/images/goIdbAi.png" width="1200" height="750">
      </a-entity>
      <!-- => Link -->
      <a-entity id="menu videoMenu" class="screen menu dark" htmlembed="ppu:256" position="2.6 1 0" rotation="0 -15 0">
        <h2>Links</h2>
        <a class="imgLink" href="http://go.idb.ai/view?token=1677804697295:555403&mapId=5e504bab-27f1-6de6-080d-7d858efe6360" target="blank">
          <img src="../../assets/images/goIdbAi.png" width="200" height="200">
          <div>GO.IDB.AI</div>
        </a>
        <a class="imgLink" href="../../exhibition.html">
          <img src="../../assets/images/exhibitionHall.png" width="200" height="200">
          <div>Hall로 이동</div>
        </a>
      </a-entity>

      <a-entity id="leftHand" link-controls="hand: left"></a-entity>
      <a-entity id="rightHand" link-controls="hand: right"></a-entity>

    </a-scene>
  </body>
</html>
